<p id="notice"><%= notice %></p>

<p>
  <strong>Bio:</strong>
  <%= @position.bio %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @position.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @position.end_date %>
</p>

<p>
  <strong>Show on team page:</strong>
  <%= @position.show_on_team_page %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
