<%= form_with(model: listing.becomes(Listing), local: true) do |form| %>
  <%= form.hidden_field :created_by_id, value: current_user.id %>

  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :photos %>
    <%= form.file_field :photos, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :reference_url %>
    <%= form.text_area :reference_url %>
  </div>

  <div class="field">
    <%= form.label :publish_start_date %>
    <%= form.datetime_select :publish_start_date %>
  </div>

  <div class="field">
    <%= form.label :publish_end_date %>
    <%= form.datetime_select :publish_end_date %>
  </div>

  <div class="field">
    <%= form.label :interaction_start_date %>
    <%= form.datetime_select :interaction_start_date %>
  </div>

  <div class="field">
    <%= form.label :interaction_end_date %>
    <%= form.datetime_select :interaction_end_date %>
  </div>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
