<%= form_with(model: organization, local: true) do |form| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :website_url %>
    <%= form.text_field :website_url %>
  </div>

  <div class="field">
    <%= form.label :twitter_username %>
    <%= form.text_field :twitter_username %>
  </div>

  <div class="field">
    <%= form.label :facebook_username %>
    <%= form.text_field :facebook_username %>
  </div>

  <div class="field">
    <%= form.label :instagram_username %>
    <%= form.text_field :instagram_username %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :street_address %>
    <%= form.text_field :street_address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :logo_upload %>
    <%= form.file_field :logo_upload %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
